node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack


/fe/bikefitting-fe/node_modules
/fe/bikefitting-fe/.DS_Store
/fe/bikefitting-fe/dist
/fe/bikefitting-fe/dist-ssr
/fe/bikefitting-fe/*.local
/fe/bikefitting-fe/count.txt
/fe/bikefitting-fe/.env
/fe/bikefitting-fe/.nitro
/fe/bikefitting-fe/.tanstack

/junk